main {
    background-color: #f1f1f1;
    padding: 70px 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.wrapper-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 20px;
}

form {
    display: grid;
    grid-template-rows: 40px 80px 60px 40px;
    padding: 0 20px;

}

.title-object-top {
    display: flex;
    justify-content: space-between;
}

.input-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-control>input {
    width: 210px;
    height: 35px;
    border: 2px solid #75ded5;
    padding: 0 10px;
    outline: none;
}

.title-object-top {
    font-weight: 900;
}

form>p {
    line-height: 23px;
}

.title-object-top>a {
    position: relative;
    display: inline-block;
    outline: none;
    letter-spacing: 0.5px;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}

.title-object-top>a:hover,
.title-object-top>a:focus {
    outline: none;
    color: #75ded5;
}

button {
    text-decoration: none;
    outline: none;
    display: inline-block;
    overflow: hidden;
    border: 2px solid;
    border-bottom-width: 4px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    letter-spacing: 1px;
    background: #75ded5;
    transition: color .3s;
    width: 120px;
    height: 35px;
}

button:hover {
    animation: stripes .75s infinite linear;
    background: linear-gradient(45deg, rgba(117, 221, 212, 1) 25%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 50%, rgba(117, 221, 212, 1) 50%, rgba(117, 221, 212, 1) 75%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1));
    background-size: 10px 10px;
    color: #f9b3d1;
}

@keyframes stripes {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 50px 0;
    }
}